html, body {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    width: 100%;
    color:#656565;
    background:#ffffff !important;
}
html.has-lightbox {
	overflow: hidden;
	position: static;
	height: 100vh;
	width: 100vw;
}
h1 {
    font-size: 60px;
}
h1, h2 {
    font-family: 'Marck Script', cursive;
    font-weight: 700;
}
h2 {
    font-size: 40px;
}
.btn-primary {
    background-color: #7f8c96;
    border-color: #688492;
    color: #ffffff;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
	background-color: #eeb34a !important;
	border-color: #eeb34a !important;
	color: #383838;
	box-shadow: none !important;
}
.img-thumbnail {
	border:solid 2px #f7b2b2;
}
.caption {
    font-family: 'Marck Script', cursive;
    font-weight: 700;
}
.couple-ring::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    background: url('./images/border-couple.png') center center no-repeat;
    background-size: contain;
}
.couple-ring img {
    padding: 2rem;
    margin-top: 0;
}
.information-wrap {
    position: relative;
    margin-bottom: 50px;
}
.information {
    text-align: center;
    background-size: contain;
    border:solid 3px #fdb196;
    padding: 20px;
    height: 100%;
    position: relative;
}
.information h3 {
    font-size: 35px;
}
.information::before,
.information::after,
.information h3::before,
.information h3::after {
    width: 50px;
    height: 50px;
    display: block;
    position: absolute;
}
.information h3::before {
    content: '';
    background: url('./images/border-information-tl.png') top left no-repeat;
    top: -3px;
    left: -3px;
    background-size: contain;
}
.information h3::after {
    content: '';
    background: url('./images/border-information-tr.png') top left no-repeat;
    top: -3px;
    right: -3px;
    background-size: contain;
}
.information::before {
    content: '';
    background: url('./images/border-information-bl.png') bottom left no-repeat;
    bottom: -3px;
    left: -3px;
    background-size: contain;
}
.information::after {
    content: '';
    background: url('./images/border-information-br.png') bottom left no-repeat;
    bottom: -3px;
    right: -3px;
    background-size: contain;
}
.text-secondary {
    color: #656565 !important;
}
.text-blue {
    color: #506373 !important;
}
.container {
    max-width: 800px;
	text-align: center;
}
section {
	padding-top: 80px;
	padding-bottom: 80px;
	position: relative;
	z-index: 2;
    overflow: hidden;
}
.full {
	width: 100%;
	height: 100vh;
	display: flex;
	background-size: cover;
	align-items: center;
}
.full .container {
    z-index: 1;
    margin-top: 200px;
}
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.header {
    position: relative;
}
.header h5 {
    font-weight: 600;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 30px;
}
.header span {
    display: block;
    position: relative;
    text-transform: lowercase;
    font-size: 30px;
}
.header span b {
    position: relative;
    z-index: 1;
    background: #fff;
    padding: 0px 10px;
}
.header span::after {
    display: block;
    content: '';
    width: 50%;
    height: 2px;
    background: #656565;
    position: absolute;
    left: 0;
    right: 0;
    top: 18px;
    margin: auto;
}
.header .date-center {
    border-left: solid 2px;
    padding: 0 10px;
    border-right: solid 2px;
    line-height: 20px;
    margin-left: 10px;
    margin-right: 10px;
}
.header .date-center b {
    font-size: 30px;
}
.header .date {
    vertical-align: super;
}
.timer {
    text-align: center;
    display: inline-block;
    font-weight: 600;
    font-size: 45px;
}
@-webkit-keyframes slideTopRight {
    100% { right: 0px; top: 0px; }
}

@keyframes slideTopRight {
    100% { right: 0px; top: 0px;}
}

@-webkit-keyframes slideTopLeft {
    100% { left: 0px; top: 0px; }
}
@keyframes slideTopLeft {
    100% { left: 0px; top: 0px;}
}

@-webkit-keyframes slideBottomLeft {
    100% { left: 0px; bottom: 0px; }
}
@keyframes slideBottomLeft {
    100% { left: 0px; bottom: 0px;}
}

@-webkit-keyframes slideBottomRight {
    100% { right: 0px; bottom: 0px; }
}
@keyframes slideBottomRight {
    100% { right: 0px; bottom: 0px;}
}
.header::before, .header-footer::before, .header-footer::after {
	display: block;
	content: '';
	height: 60vh;
	width: 100%;
	position: absolute;
}
.header::after {
	display: block;
	content: '';
	height: 30vh;
	width: 100%;
	position: absolute;
}
.header::before {
	background:url('images/bg-top.jpg') no-repeat;
	background-size: contain;
    background-position: top left;
	top:-500px;
	left: -500px;
	-webkit-animation: slideTopLeft 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideTopLeft 0.5s forwards;
    animation-delay: 2s;
}
.header::after {
    top: -500px;
    right: 0;
    left: 0;
    background: url('images/bg-flower.png') no-repeat;
    background-size: contain;
	background-position: top center;
	-webkit-animation: slideTopRight 0.5s forwards;
    -webkit-animation-delay: 2s;
    animation: slideTopRight 0.5s forwards;
    animation-delay: 2s;
}
/* .header-footer::before {
	background:url('images/bl.png') no-repeat;
	background-size: contain;
	background-position: bottom left;
	bottom:-500px;
	left: -500px;
	-webkit-animation: slideBottomLeft 0.5s forwards;
    -webkit-animation-delay: 2.5s;
    animation: slideBottomLeft 0.5s forwards;
    animation-delay: 2.5s;
} */
.header-footer::after {
    bottom: -500px;
    right: -500px;
    background: url('images/bg-bottom.jpg') no-repeat;
    background-size: contain;
    background-position: bottom right;
	-webkit-animation: slideBottomRight 0.5s forwards;
    -webkit-animation-delay: 2.5s;
    animation: slideBottomRight 0.5s forwards;
    animation-delay: 2.5s;
}
.quote p {
	font-style: italic;
}
.owl-carousel .owl-nav {
    text-align: center;
}
.owl-carousel .owl-nav button.owl-next,
.owl-carousel .owl-nav button.owl-prev {
    width: 45px;
    height: 45px;
    border: solid 1px #fff;
    border-radius: 50%;
    margin: 5px;
    font-size: 35px;
    line-height: 0;
}
button.owl-next:hover,
button.owl-prev:hover,
button.owl-next:active,
button.owl-prev:active,
button.owl-next:focus,
button.owl-prev:focus {
    outline:none !important;
    box-shadow: none !important;
}
.black {
    margin: 25px;
}
.black .container {
    background: #444;
    color: #fff;
}
footer {
	position: relative;
}
footer img {
	max-width: 100px;
}
footer small {
	display: block;
}
footer::after {
	display: block;
	content: '';
	height: 50vh;
	width: 100%;
	position: absolute;
	z-index: 1;
}
/* footer::before {
	background:url('images/footer-bottom-2.png') no-repeat;
	background-size: contain;
	background-position: bottom left;
	bottom:0px;
	left: 0px;
} */
footer::after {
    bottom: 0px;
    right: 0px;
    background: url('images/footer-bottom.png') no-repeat;
    background-size: contain;
	background-position: bottom right;
}
footer .col-md-12 {
	z-index: 3;
}
/* Small devices (landscape phones, 576px and up) */
@media (max-width: 576px) {
	section {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
    }
    footer::before, footer::after {
        height: 30vh;
    }
    .full .container {
        margin-top: 30px;
    }
}

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
	h1 {
        font-size: 100px;
        line-height: 1;
    }
    .full .container {
        margin-top:100px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}

.show-guest-book .container {
    max-width: 600px;
    max-height: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    overflow-y: scroll;
    border: solid 1px #d4d4d4;
    border-radius: 20px;
    position: relative;
    background: #fff;
}
.show-guest-book p {
    color: #333;
}
.show-guest-book .media-comment {
    border-bottom: solid 1px #d4d4d4;
}