#over-lay-welcome {
        position:fixed;
        width: 100vw;
        height: 100vh;
        background-color: rgba(255,255,255,0.85);
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        font-size: 16px;
        margin: 0px;
        cursor: pointer;    
        z-index:9999;
        display: -webkit-flex; /* Safari */
        -webkit-align-items: center; /* Safari 7.0+ */
        display: flex;
        align-items: center;
        color: #000;
    }

 #over-lay-welcome p{
    font-size: 17px;
 }

#over-lay-welcome h4{
    font-size:22px;
    font-weight:600;
    padding: 0px;
    text-transform: uppercase;
}
#over-lay-welcome img{
    display : block;
    margin-left: auto;
    margin-right : auto;
    width: 100%;
    height: auto;
}
.gallery .frame {
    overflow: hidden;
    border-radius: 3px;
}
.gallery .frame img {
    transition: all 0.3s;
    border-radius: 3px;
    object-position: center;
  object-fit: cover;
  width: 300px;
  height: 200px;
	transition-duration:0.4s;
	overflow: hidden;
}
.gallery .frame:hover img {
    transform: scale(1.1);
}
#music {
    display: none;
}
.play-pause {
    display: inline-block;
    background: #fff;
    padding: 0px 5px;
    position: fixed;
    bottom: 10px;
    left: 10px;
    z-index: 100;
    border-radius: 3px;
    cursor: pointer;
}
.play-pause:hover {
    background: #ddd;
}
.btn-qrcode {
    display: inline-block;
    background: #fff;
    padding: 0px 5px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 100;
    border-radius: 3px;
    cursor: pointer;
}
.btn-qrcode:hover {
    background: #ddd;
}
.btn-donation {
    position: fixed;
    bottom: 10px;
    left: 0;
    right: 0;
    z-index: 3;
    background: #fff;
    padding: 4px;
    width: 200px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    color: #000;
    border: solid 1px #e6e6e6;
}
.btn-donation:hover {
    background: #ddd;
    color: #000;
    text-decoration: none;
}
.socmed img {
    margin: 0 5px;
    opacity: 0.8;
}
.socmed img:hover {
    opacity: 1;
}
#modalGift {
    color: #000;
}
#modalQrCode {
    color: #000;
}
@media (min-width: 576px) {
    .modal-sm {
        max-width: 330px;
    }
}
.mapouter{
    position: relative;
        padding-bottom: 75%;
        height: 0;
        overflow: hidden;
}
.mapouter iframe{
    position: absolute;
        top: 0;
        left: 0;
        width: 100% !important;
        height: 100% !important;
}